body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/********* BUTTON ************/
button {
    border-radius: 2em;
    border: 1.5px solid white;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
    text-transform: uppercase;
    background: black;
    color: white;
}

button:hover {
    background: white;
    color: black;
    outline-color: cyan;
}

a {
    color: white;
    text-align: center;
}

/****** FORMULÄR ******/
form {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    position: absolute;
    bottom: 0%;
}

.welcome-name {
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 1em;
}

.logout-btn {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 1em;
}

.message-container p {
    margin-bottom: 20px;
    border: 1px solid white;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    word-break: break-all;
}

input {
    border-radius: 20px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: white;
    padding: 0.2em;
    text-align: center;
}

.message-input {
    height: 40px;
    width: 100%;
}

.message-input:focus {
    outline-width: 0;
}

