body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/********* BUTTON ************/
button {
    border-radius: 2em;
    border: 1.5px solid white;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
    text-transform: uppercase;
    background: black;
    color: white;
}

button:hover {
    background: white;
    color: black;
    outline-color: cyan;
}

a {
    color: white;
    text-align: center;
}

/****** FORMULÄR ******/
form {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    border-radius: 20px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: white;
    padding: 0.2em;
    text-align: center;
}
